[submodule "backend"]
	path = backend
	url = https://github.com/COFRAP-EPSI-2026/cofrap-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/COFRAP-EPSI-2026/cofrap-frontend.git
	branch = main
